:host {
  font-family: 'Roboto';
  margin-left: 38vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  height: 100%;
}

.description-wrapper {
  padding: 20px;
  max-width: 30vw;
}

.details-container {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  padding: 0;
  background: none;
  border: none;

  :hover {
    cursor: pointer;
  }
}

.edit-icon {
  width: 100%;
  height: auto;
}

.name-container {
  display: flex;
  align-items: center;
  color: #3f51b5;

  h2 {
    margin: 0;
  }
}


.bold {
  font-weight: 600;
}

.attack-wrapper {
  margin: 1em 0;

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 26px;
  }

  p {
    margin: 0;
  }
}
