<div class="container">
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="form">
    <h1>Edit Pokemon details</h1>
    <label>
      Name:
      <input type="text" formControlName="name" value="card.name">
    </label>
    <label>
      HP:
      <input type="text" formControlName="hp" value="card.hp">
    </label>
    <label>
      Rarity:
      <input type="text" formControlName="rarity" value="card.rarity">
    </label>
    <div class="btn-container">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-default" (click)="editMode(false);">Cancel</button>
    </div>
  </form>
</div>
